/* Footer.css */
.footer {
  background: #1d2442; /* Fondo oscuro */
  color: #c9d7f7; /* Texto claro */
  padding: 40px 0;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container p {
  font-size: 14px;
  color: #c9d7f7;
  margin: 5px 0; /* Espacio entre las líneas */
}

.footer-container p:first-child {
  font-weight: bold; /* Hacer más destacado el copyright */
}

@media (max-width: 768px) {
  .footer-container p {
    font-size: 12px; /* Ajuste de tamaño en pantallas pequeñas */
  }
}
