/* Navbar.css */
.navbar {
  background: linear-gradient(90deg, #140f07, #1d2442); /* Gradiente con color oscuro y azul */
  padding: 15px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 26px;
  font-weight: 700;
  color: #c9d7f7; /* Color claro para el logo */
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-logo:hover {
  color: #8291f7; /* Color brillante al pasar el ratón */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 30px;
  position: relative; /* Para posicionar el subrayado animado */
}

.navbar-link {
  color: #c9d7f7; /* Color suave para los enlaces */
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.navbar-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #8291f7; /* Azul brillante para el subrayado */
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.navbar-link:hover::before {
  width: 100%;
  left: 0;
}

.navbar-link:hover {
  color: #8291f7; /* Cambia el color a azul brillante */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Efecto de brillo */
}

.navbar-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 25px;
  flex-direction: column;
  gap: 5px;
}

.navbar-menu-bar {
  width: 30px;
  height: 4px;
  background-color: #c9d7f7; /* Color claro para las barras del menú hamburguesa */
  border-radius: 10px;
}

.navbar.open .navbar-links {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.navbar.open .navbar-links .navbar-item {
  margin: 15px 0;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }
}
